<div class="row bg-white rounded p-2">
  <div class="col-4">
    <img
      class="img-responsive center-block rounded-circle"
      src="{{user.image}}"
      style="width: 200px;"
      alt="未上傳個人照片"
    />
  </div>
  <div class="col-8">
    <h3>{{user.name}}</h3>
    <p>{{user.email}}</p>
    <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
  </div>
</div>